<div class="d-flex flex-column h-100">
  <div class="container-fluid flex-fill">
    <app-navbar></app-navbar>
    <div class="container">
      <div class="row">
        <div class="col d-flex flex-column align-items-center justify-content-center">
          <h1 class="error404">404</h1>
          <p class="messageError">La page que tu cherches n'existe pas</p>
          <a routerLink=""><button class="btn backHomeBtn">Retour à l'accueil</button></a>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>