<footer class="mt-5">
  <!-- Footer is transparent if you navigate to error page or homepage -->
  <nav class="navbar" [ngClass]="{'transparent': url === '/' || url === '/404'}">
    <div class="col-6 d-flex justify-content-start">
      <p class="item" [ngClass]="{'item2': url === '/' || url === '/404'}">
        <!-- Date changes automatically with time -->
        ©{{ date }} Chop' Ton Job
      </p>
    </div>

    <ul class="nav-menu col-6 d-flex justify-content-end">
      <li class="">
        <a routerLink="/mentions-legales" class="nav-link marginRight"
          [ngClass]="{'item2': url === '/' || url === '/404'}">Mentions Légales</a>
      </li>
    </ul>
  </nav>
</footer>