<footer class="mt-5">
  <!-- Footer is transparent if you navigate to error page or homepage -->
  <nav class="navbar" [ngClass]="{'transparent': isTransparent}">
    <div class="col-6 d-flex justify-content-start">
      <p class="item" [ngClass]="{'coloredItem': isTransparent}">
        <!-- Date changes automatically with time -->
        ©{{date}} Chop' Ton Job
      </p>
    </div>

    <div class="d-flex justify-content-end align-items-center">
        <a routerLink="/mentions-legales" class="nav-link"
          [ngClass]="{'coloredItem': isTransparent}">Mentions Légales</a>
    </div>
  </nav>
</footer>