<footer class="mt-5">
  <nav class="navbar" [ngClass]="{'transparent': url === '/' || url === '/404'}">
    <div>
      <p class="item" [ngClass]="{'item2': url === '/' || url === '/404'}">
        © {{ date }} Chop' Ton Job Inc.
      </p>
    </div>

    <ul class="nav-menu">
      <li class="">
        <a
          routerLink="/mentions-legales"
          class="nav-link marginRight"
          [ngClass]="{'item2': url === '/' || url === '/404'}"
          >Mentions Légales</a
        >
      </li>
    </ul>
  </nav>
</footer>
