ul {
  margin: 0;
}

li {
  list-style: none;
}

a {
  font-size: 1.1rem;
  font-weight: 200;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: #aea2cd;
}

.transparent {
  background-color: transparent;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.nav-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-item {
  margin-left: 2.5rem;
}

.nav-link:hover {
  color: black;
}

.nav-link:focus {
  color: black;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    align-items: flex-start;
    position: absolute;
    left: -100%;
    top: 5.5rem;
    flex-direction: column;
    background-color: #aea2cd;
    width: 90%;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 3;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2rem 0;
  }

  .nav-logo {
    width: 100px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
