
<div class="container">
    <div class="row d-flex p5">
        <div class="col-md-6">
            <h1>Tout commence par une <span highlightWord>bonne</span>candidature</h1>
        </div>
        <div class="col-md-6 pt-3">
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                amet
                sint. Velit officia consequat duis enim velit mollit.
                Exercitation
                veniam consequat sunt nostrud amet.
            </p>
        </div>
    </div>
</div>

<div *ngFor="let etape of etapes"></div>