<app-navbar></app-navbar>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-11">

            <h1 class="mt-5 mb-5">Découvrez nos <span class="highlightWord">mentions légales</span></h1>
            
            <h2 class="mb-4">Définitions</h2>
            <ul>
                <li><b>Client</b> : tout professionnel ou personne physique capable au sens des articles 1123 et
                    suivants du
                    Code
                    civil, ou personne morale, qui visite le Site objet des présentes conditions générales.</li>
                <li><b>Prestations et Services</b> : le Site met à disposition des Clients</li>
                <li><b>Contenu</b> : Ensemble des éléments constituants l’information présente sur le Site, notamment
                    textes
                    –
                    images – vidéos</li>
                <li><b>Informations clients</b> : Ci après dénommé « Information (s) » qui correspondent à l’ensemble
                    des
                    données
                    personnelles susceptibles d’être détenues par le Site pour la gestion de votre compte, de la gestion
                    de
                    la
                    relation client et à des fins d’analyses et de statistiques.</li>
                <li><b>Utilisateur</b> : Internaute se connectant, utilisant le site susnommé.</li>
                <li><b>Informations personnelles</b> : « Les informations qui permettent, sous quelque forme que ce
                    soit,
                    directement ou non, l’identification des personnes physiques auxquelles elles s’appliquent »
                    (article 4
                    de
                    la loi n° 78-17 du 6 janvier 1978).
                    Les termes « données à caractère personnel », « personne concernée », « sous traitant » et « données
                    sensibles » ont le sens défini par le Règlement Général sur la Protection des Données (RGPD : n°
                    2016-679)</li>
            </ul>

            <h2 class="mt-5 mb-4">Présentation du site internet</h2>
            <p>En vertu de l’article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie
                numérique, il est précisé aux utilisateurs du Site l’identité des différents intervenants dans le cadre
                de sa réalisation et de son suivi :</p>
            <ul>
                <li><b>Propriétaires</b> : Vianney ACCART, Camille FRELAT, Adam ROUX, Brice DUCROUX, Karim BOUDJEMAI
                </li>
                <li><b>Responsable de publication</b> : Vianney ACCART</li>
                <li><b>Webmaster</b> : Camille FRELAT</li>
                <li><b>Délégués à la protection des données</b> : Adam ROUX, Brice DUCROUX, Karim BOUDJEMAI</li>
                <li><b>Hébergement</b> : le Site n'est actuellement pas hébergé</li>
            </ul>

            <h2 class="mt-5 mb-4">Conditions Générales d'Utilisation du site</h2>
            <p>Le Site constitue une œuvre de l’esprit protégée par les dispositions du Code de la Propriété
                Intellectuelle et des Réglementations Internationales applicables. Le Client ne peut en aucune manière
                réutiliser, céder ou exploiter pour son propre compte tout ou partie des éléments ou travaux du Site.
            </p>
            <p>L’utilisation du Site implique l’acceptation pleine et entière des conditions générales d’utilisation
                ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout
                moment, les utilisateurs du Site sont donc invités à les consulter de manière régulière.</p>
            <p>Ce site internet est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison
                de maintenance technique peut être toutefois décidée par les propriétaires, qui s’efforceront alors de
                communiquer préalablement aux utilisateurs les dates et heures de l’intervention. Le Site est mis à jour
                régulièrement. De la même façon, les mentions légales peuvent être modifiées à tout moment : elles
                s’imposent néanmoins à l’utilisateur qui est invité à s’y référer le plus souvent possible afin d’en
                prendre connaissance.</p>

            <h2 class="mt-5 mb-4">Description des services fournis</h2>
            <p>Le Site a pour objet de fournir des informations concernant les entreprises qui ont un fort potentiel de
                recrutement.</p>
            <p>Les propriétaires s’efforcent de fournir sur le Site des informations aussi précises que possible.
                Toutefois, ils ne pourront être tenus responsables des oublis, des inexactitudes et des carences dans la
                mise à jour, qu’elles soient de leur fait ou du fait des tiers partenaires qui lui fournissent ces
                informations.</p>
            <p>Toutes les informations indiquées sur le Site sont données à titre indicatif, et sont susceptibles
                d’évoluer. Par ailleurs, les renseignements figurant sur le Site ne sont pas exhaustifs. Ils sont donnés
                sous réserve de modifications ayant été apportées depuis leur mise en ligne.</p>

            <h2 class="mt-5 mb-4">Limitations contractuelles sur les données techniques</h2>
            <p>Le Site utilise la technologie JavaScript. Le site Internet ne pourra être tenu responsable de dommages
                matériels liés à l’utilisation du site. De plus, l’utilisateur du site s’engage à accéder au site en
                utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération
                mis-à-jour.</p>

            <h2 class="mt-5 mb-4">Propriété intellectuelle et contrefaçons</h2>
            <p>Les propriétaires sont propriétaires des droits de propriété intellectuelle et détiennent les droits
                d’usage sur tous les éléments accessibles sur le site internet, notamment les textes, images,
                graphismes, logos, vidéos, icônes et sons. Toute reproduction, représentation, modification,
                publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé
                utilisé, est interdite, sauf autorisation écrite préalable des propriétaires.</p>
            <p>Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera
                considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles
                L.335-2 et suivants du Code de Propriété Intellectuelle.</p>

            <h2 class="mt-5 mb-4">Mentions relatives à l'utilisation des cookies</h2>
            <p>Le Site n'utilise pas de cookies.</p>
        </div>
    </div>
</div>
<app-footer></app-footer>