.container-fluid {
    background: linear-gradient(#B5AAD6, white);
    height: 100vh;
}

.row {
    height: 70vh;
}

.error404 {
    font-size: 15rem;
    font-weight: 600;
    color: #aea2cdaa;
}

.messageError {
    font-size: 1.5rem;
    font-weight: 200;
    margin-top: -20px;
    width: 10em;
    text-align: center;
    margin-bottom: 20px;
}

.backHomeBtn {
    height: 50px;
    width: 20rem;
    border-radius: 50px;
    background-color: #aea2cd;
    color: white;
}

.backHomeBtn:hover {
    height: 50px;
    width: 20rem;
    border-radius: 50px;
    background-color: transparent;
    border: solid 1px #aea2cd;
    color: #aea2cd;
}

@media screen and (max-width: 768px) {

    .row {
        height: 65vh;
    }

    .error404 {
        font-size: 8rem;
        margin-bottom: 40px;
    }
    
    .messageError {
        margin-bottom: 40px;
    }
    
    .backHomeBtn {
        width: 15rem;
    }
}