.container-fluid {
    padding: 0;
}

.readonly {
    background-color: white;
}

.rayon {
    padding-left: 0;
}

.btn-light {
    border: 1px solid #aea2cd;
    background-color:#aea2cd;
    color: white;
    font-weight: 600;
}

.btn-light:hover {
    border: 1px solid #aea2cd;
    background-color: white;
    color: #aea2cd;
}

.allSelect{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.form-select{
    border-radius: 5px;
    color: #6A6A6A;
}

.form-check-label{
    color: #6A6A6A;
    padding-left: 20px;
}

.form-check-input:checked {
    background-color: #aea2cd;
    border: #aea2cd;
}

::placeholder {
    opacity: 50%;
}

.buttonSearch {
    margin-top: 30px;
    height: 50px;
    width: 20rem;
    border-radius: 50px;
    background-color: #aea2cd;
    color: white;
    border: none;
}

.buttonSearch:hover {
    background-color: transparent;
    border: solid 1px #aea2cd;
    color: #aea2cd;
}

.departments-list {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    font-family: "Montserrat";
}

.mat-input-element {
    caret-color: #aea2cd;
}

/* Color of the chips */
.mat-chip.mat-standard-chip {
    background-color: #aea2cd;
    color: white;
    font-family: "Montserrat";
}

/* Color of the X to remove a chips */
.mat-standard-chip .mat-chip-remove.mat-icon, .mat-standard-chip .mat-chip-remove .mat-icon {
    width: 18px;
    height: 18px;
    font-size: 18px;
    color: white;
}

@media screen and (max-width: 768px) {

    .allSelect{
        width: 100%;
    }

    .form-select, .form-control, .btn {
        font-size: .8rem;
    }

    .buttonSearch {
        width: 15rem;
    }
}
