<div class="contentFormulaire">
    <div class="allSelect">
        <select class="form-select" aria-label="Default select example">
            <option selected>Départements</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>

        <select class="form-select" aria-label="Default select example">
            <option selected>Ma position</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>

        <select class="form-select" aria-label="Default select example">
            <option selected>Choisir un métier</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
            <label class="form-check-label" for="flexCheckIndeterminate">
                Alternance uniquement
            </label>
        </div>
    </div>
    <button id="buttonSearch">Lancer la recherche</button>

</div>