.contentFormulaire{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-fluid {
    padding: 0;
}

.readonly {
    background-color: white;
}

.rayon {
    padding-left: 0;
}

.btn-light {
    border: 1px solid #aea2cd;
    background-color:#aea2cd;
    color: white;
    font-weight: 600;
}

.btn-light:hover {
    border: 1px solid #aea2cd;
    background-color: white;
    color: #aea2cd;
}

.allSelect{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.form-select{
    border-radius: 5px;
    box-shadow: 0px 4px 5px #cec4e9;
    color: #6A6A6A;
}

.form-check{
    margin: 3%;
}

.form-check-label{
    color: #6A6A6A;
}

#buttonSearch {
    height: 50px;
    width: 20rem;
    border-radius: 50px;
    background-color: #aea2cd;
    color: white;
    border: none;
}

#buttonSearch:hover {
    background-color: transparent;
    border: solid 1px #aea2cd;
    color: #aea2cd;
}

@media screen and (max-width: 768px) {
    #buttonSearch{
        margin-top: 20px;
    }

    .allSelect{
        width: 100%;
    }
}