.container-fluid {
  padding: 0;
}

.readonly {
  background-color: white;
}

.btn-light {
  border: 1px solid #aea2cd;
  background-color: transparent;
  color: #aea2cd;
  font-weight: 600;
  width: 100%;
  height: 3.6rem;
}

.btn-light:hover {
  background-color: white;
}

.allSelect {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.form-select {
  border-radius: 5px;
  color: #6a6a6a;
}

.form-check-input {
  margin-left: -12px;
}

.form-check-label {
  color: #6a6a6a;
  padding-left: 12px;
}

.rayon {
  padding-left: 26px;
  padding-top: 25px;
}

.metier {
  padding-left: 26px;
  padding-top: 25px;
}

.form-check-input:checked {
  background-color: #aea2cd;
  border: #aea2cd;
}

::placeholder {
  opacity: 50%;
}

.buttonSearch {
  margin-top: 30px;
  height: 50px;
  width: 100%;
  border-radius: 50px;
  background-color: #aea2cd;
  color: white;
  border: none;
}

.buttonSearch:hover {
  background-color: transparent;
  border: solid 1px #aea2cd;
  color: #aea2cd;
}

.departments-list {
  width: 100%;
  font-family: 'Montserrat';
}

.mat-input-element {
  caret-color: #aea2cd;
}

/* Color of the chips */
.mat-chip.mat-standard-chip {
  background-color: #aea2cd;
  color: white;
  font-family: 'Montserrat';
}

/* Color of the X to remove a chips */
.mat-standard-chip .mat-chip-remove.mat-icon,
.mat-standard-chip .mat-chip-remove .mat-icon {
  width: 18px;
  height: 18px;
  font-size: 18px;
  color: white;
}

.col-12 > p {
  color: #6a6a6a;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .allSelect {
    width: 100%;
  }

  .form-select,
  .form-control,
  .btn {
    font-size: 0.8rem;
  }
}
