/* Colonne contenant les options de nouvelle recherche */
.col-md-4 {
  height: auto;
  border-right: solid 0.1px rgb(218, 216, 216);
}

#newSearchBtn {
  /* Le bouton de nouvelle recherche est masqué sur desktop */
  display: none;
}

.row.p-3 {
  /* Sur desktop, inutile d'afficher cette row */
  display: none;
}

/* Titre de la colonne de nouvelle recherche */
#newSearchTitle {
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 6%;
  margin-bottom: 50px;
}

/* Phrase indiquant le nombre d'entreprises retournées */
.resultOfCompanies {
  margin: 50px 0 0 50px;
  font-size: 1.2rem;
}

/* Nombre d'entreprises retournées */
.numberOfCompanies {
  font-weight: 700;
}

.newSearchMenu {
  /* Sur desktop, le bouton de nouvelle recherche est masqué car une colonne entière est dédiée à cela */
  display: none;
}


/* Sur tous les écrans de moins de 768 px */
@media screen and (max-width: 768px) {

  .logoPoleEmploiDesktop {
    display: none;
  }

  .desktopForm {
    display: none;
  }

  .col-md-4 {
    height: 90px;
    border: none;
  }

  .row.p-3 {
    /* Est masqué sur desktop, nécessité de l'afficher sur mobile */
    display: flex;
  }

  /* Titre de la colonne de nouvelle recherche */
  #newSearchTitle {
    /* Masqué car on en crée un nouveau ci-dessous pour le mobile */
    display: none;
  }

  #newSearchTitleBis {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 50px;
    padding-left: 40px;
  }

  /* Bouton de nouvelle recherche */
  #newSearchBtn {
    display: block;
  }

  /* Bouton de nouvelle recherche */
  .newSearch {
    background-color: #aea1cd;
    height: 35px;
    width: 11rem;
    border-radius: 50px;
    color: white;
    font-size: 0.8rem;
  }

  .logoPoleEmploi {
    display: block;
    width: 100px;
  }

  /* Phrase indiquant le nombre d'entreprises retournées */
  .resultOfCompanies {
    margin-top: 0;
    margin-left: 20px;
    font-size: 0.8rem;
  }

  /* Volet contenant les filtres de la nouvelle recherche */
  .newSearchMenu {
    display: block;
    background-color: white;
    height: 100%;
    z-index: 2;
    position: absolute;
    top: 5.6rem;
    width: 100%;
    transition: 0.5s;
    left: -100%;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.2);
  }

  /* Quand le volet est ouvert, left passe de -100% à 0 donc devient visible */
  .newSearchMenu.active {
    /* La classe active est ajoutée via la méthode openNewSearchMenu() */
    left: 0;
  }

  /* Barres qui forment la croix "X" pour fermer le volet */
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #aea2cd;
  }

  /* Diverses propriétés de la croix "X" de fermeture */
  .bar:nth-child(2) {
    opacity: 0;
  }

  .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .closeBtn {
    margin-top: 20px;
  }
}
