/* Column containing new search options */

.col-md-4 {
  height: auto;
  border-right: solid 0.1px rgb(218, 216, 216);
}

#newSearchBtn {
  /* The new search button is hidden on desktop */
  display: none;
}

.row.p-3 {
  /*  On desktop, no need to display this row */
  display: none;
}

/* New search column title */
#newSearchTitle {
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 6%;
  margin-bottom: 50px;
}

/* Sentence indicating the number of companies returned */
.resultOfCompanies {
  margin: 50px 0 0 50px;
  font-size: 1.2rem;
}

/* Number of businesses returned */
.numberOfCompanies {
  font-weight: 700;
}

.newSearchMenu {
  /* On desktop, the new search button is hidden because an entire column is dedicated to it */
  display: none;
}

/* On all screens smaller than 768px */
@media screen and (max-width: 768px) {
  .logoPoleEmploiDesktop {
    display: none;
  }

  .desktopForm {
    display: none;
  }

  .col-md-4 {
    height: 90px;
    border: none;
  }

  .row.p-3 {
    /* Is hidden on desktop, need to display it on mobile */
    display: flex;
  }

  /* Title of the new search column */
  #newSearchTitle {
    /* Hidden because we create a new one below for the mobile */
    display: none;
  }

  #newSearchTitleBis {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 50px;
    padding-left: 40px;
  }

  /* New search button */
  #newSearchBtn {
    display: block;
  }

  /* New search button  */
  .newSearch {
    background-color: #aea1cd;
    height: 35px;
    width: 11rem;
    border-radius: 50px;
    color: white;
    font-size: 0.8rem;
  }

  .logoPoleEmploi {
    display: block;
    width: 100px;
  }

  /* Sentence indicating the number of companies returned */
  .resultOfCompanies {
    margin-top: 0;
    margin-left: 20px;
    font-size: 0.8rem;
  }

  /* Pane containing the filters for the new search */
  .newSearchMenu {
    display: block;
    background-color: white;
    height: 100%;
    z-index: 2;
    position: absolute;
    top: 5.6rem;
    width: 100%;
    transition: 0.5s;
    left: -100%;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.2);
  }

  /* When the pane is open, left goes from -100% to 0 therefore becomes visible */
  .newSearchMenu.active {
    /* The active class is added via the method openNewSearchMenu() */
    left: 0;
  }

  /* Bars that form the cross "X" to close the pane */
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #aea2cd;
  }

  /* Various properties of the closing cross "X" */
  .bar:nth-child(2) {
    opacity: 0;
  }

  .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .closeBtn {
    margin-top: 20px;
  }
}
