/* You can add global styles to this file, and also import other style files */

body,html {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

html,
p,
a,
h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}
.highlightWord {
  /* Mot coloré dans les titres */
  color: #aea2cd;
  font-weight: 600;
}

/* Faire disparaitre les (*) entre les étoiles dans les cards*/
.sr-only {
  display: none;
}

