<div class="container-sm">
  <div class="row align-items-center">
    <div class="col-sm-10">
      <h1 class="p-4 my-md-5">Au cas où tu veux nous <span>contacter</span></h1>
    </div>
  </div>
  <div class="row align-items-center mx-2">
    <div class="col-lg-6 col-md-10">
      <app-contact-form></app-contact-form>
    </div>
    <div class="col-lg-6 hidePicture">
      <img
        src="assets/img/peopleIllustration.png"
        alt="people talking illustration"
      />
    </div>
  </div>
</div>
